.nav-item ok{
    background-color: red;


}

.nav-item :hover{
    background-color: red;
    
}

span.mandatory{
    font-style: italic;
    color: red;
}


.nav-item-active{
    background-color: rgb(128, 126, 126);;
}

